<div >
    <div class="row">
        <div class="col-lg-6">
            <h2 style="text-align: center; margin-top: 50px;">Lista de clientes</h2>
        </div>
        <div class="col-lg-6 d-flex justify-content-between">
            <!-- <button class="btn-create" style="margin-top: 50px;">Nuevo cliente</button> -->
            <i class="bi bi-plus-circle-fill" style="margin-top: 60px;font-size: 25px; color: black;" title="Agregar cliente" (click)="dialogClients()"></i>
        </div>
    </div>
    <div class="table-responsive" *ngIf="listClient.length > 0">
        <table class="table table-bordered mt-3" style="margin: 50px; width: 90%;">
            <thead>
                <tr>
                    <td scope="col">Identificación</td>
                    <td scope="col">Nombre</td>
                    <td scope="col">Apellido</td>
                    <td scope="col">Correo electrónico</td>
                    <td scope="col">Dirección</td>
                    <td scope="col"></td>
                    <td scope="col"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clients of listClient | paginate: {itemsPerPage : 7, currentPage: pageActual}">
                    <td>{{clients.clientId}}</td>
                    <td>{{clients.firstName}}</td>
                    <td>{{clients.lastName}}</td>
                    <td>{{clients.email}}</td>
                    <td>{{clients.adress}}</td>
                    <td style="width: 3%;">
                        <i class="bi bi-pencil" style="font-size: 20px; color: black;" title="Editar cliente" (click)="dialogEditclients(clients.clientId)"></i>
                    </td>
                    <td style="width: 3%;">
                        <i class="bi bi-trash-fill" style="font-size: 20px; color: black;" title="Eliminar cliente" (click)="deleteClients(clients.clientId)" ></i>
                    </td>      
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
    <div class="row mt-5" *ngIf="listClient.length == 0">
        <h6 style="text-align: center;">No hay clientes para mostrar</h6>
    </div>
</div>