<div >
    <div class="row">
        <div class="col-lg-6">
            <h2 style="text-align: center; margin-top: 50px;">Lista de citas</h2>
        </div>
        <div class="col-lg-6 d-flex justify-content-between">
            <i class="bi bi-plus-circle-fill" style="margin-top: 60px;font-size: 25px; color: black;" title="Agregar citas" (click)="dialogAppointments()"></i>
        </div>
    </div>
    <div class="table-responsive" *ngIf="listAppointment.length > 0">
        <table class="table table-bordered mt-3" style="margin: 50px; width: 90%;">
            <thead>
                <tr>
                    <td scope="col">Codigo de cita</td>
                    <td scope="col">Fecha</td>
                    <td scope="col">Identificacion de la mascota</td>
                    <td scope="col">Identificacion del veterinario</td>
                    <td scope="col"></td>
                    <td scope="col"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointments of listAppointment | paginate: {itemsPerPage : 7, currentPage: pageActual}">
                    <td>{{appointments.appointmentId}}</td>
                    <td>{{appointments.date}}</td>
                    <td>{{appointments.petId}}</td>
                    <td>{{appointments.veterinaryId}}</td>
                    <td style="width: 3%;">
                        <i class="bi bi-pencil" style="font-size: 20px; color: black;" title="Editar cita" (click)="dialogEditAppointments(appointments.appointmentId)"></i>
                    </td>
                    <td style="width: 3%;">
                        <i class="bi bi-trash-fill" style="font-size: 20px; color: black;" title="Eliminar cita" (click)="deleteAppointments(appointments.appointmentId)" ></i>
                    </td>      
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
    <div class="row mt-5" *ngIf="listAppointment.length == 0">
        <h6 style="text-align: center;">No hay citas para mostrar</h6>
    </div>
</div>
