<div class="close d-flex justify-content-end">
    <i class="bi bi-x-lg" (click)="closeDialog()"></i>
</div>

<div>
    <div class="form">
        <h2 style="text-align: center;">Editar citas</h2>
        <form [formGroup]="editAppointment" (ngSubmit)="update()">
            <div class="mb-3">
                <label for="appointmentId" class="form-label"># de cita</label>
                <input formControlName="appointmentId" type="text" class="form-control" id="appointmentId"
                    aria-describedby="emailHelp" readonly>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Fecha</label>
                <input formControlName="date" type="datetime" class="form-control" id="date">
            </div>
            <!-- <div class="mb-3">
                <label for="petId" class="form-label">Identificacion de la mascota</label>
                <input formControlName="petId" type="text" class="form-control" id="petId">
            </div>
            <div class="mb-3">
                <label for="veterinaryId" class="form-label">Identificacion del veterinario</label>
                <input formControlName="veterinaryId" type="text" class="form-control" id="veterinaryId">
            </div> -->

            <div class="mb-3">
                <label for="veterinaryId" class="form-label">Identificación del veterinario</label>
                <select formControlName="veterinaryId" id="veterinaryId" class="form-select">
                    <option *ngFor="let veterinarians of listVeterinary" value="{{veterinarians.veterinaryId}}">{{veterinarians.veterinaryId}}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="petId" class="form-label">Identificación de la mascota</label>
                <select formControlName="petId" id="petId" class="form-select">
                    <option *ngFor="let pets of listPet" value="{{pets.petId}}">{{pets.petId}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!this.editAppointment.valid">Actualizar</button>
        </form>
    </div>
</div>

