<div class="login">
    <div class="form">
        <form [formGroup]="createUser">
            <h1>Registrarse</h1>
            <div class="mb-3">
                <label for="clientId" class="form-label">Identificación</label>
                <input formControlName="clientId" type="number" class="form-control" id="clientId" aria-describedby="emailHelp" >
            </div>
            <div class="mb-3">
                <label for="Rol" class="form-label">Rol</label>
                <select formControlName="Rol" id="Rol" class="form-select" >
                    <option value="Admin">Admin</option>
                    <option value="Client">Cliente</option>
                    <option value="Veterinary" >Veterinario</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="FirstName" class="form-label">Nombre</label>
                <input formControlName="FirstName" type="text" class="form-control" id="FirstName">
            </div>
            <div class="mb-3">
                <label for="LastName" class="form-label">Apellido</label>
                <input formControlName="LastName" type="text" class="form-control" id="LastName">
            </div>
            <div class="mb-3">
                <label for="Adress" class="form-label">Dirección</label>
                <input formControlName="Adress" type="text" class="form-control" id="Adress">
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Correo electronico</label>
                <input formControlName="Email" type="Email" class="form-control" id="Email">
            </div>
            <div class="mb-3" *ngIf="createUser.value.Rol == 'Veterinary'">
                <label for="Specialty" class="form-label"  >Especialidad</label>
                <input formControlName="Specialty" type="text" class="form-control" id="Specialty">
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Contraseña</label>
                <input formControlName="Password" type="password" class="form-control" id="Password">
            </div>
            <button type="submit" class="btn btn-primary"  (click)="create()">Registarse</button>
        </form>
    </div>
</div>