<div class="login">
    <div class="form">
        <form [formGroup]="loginData">
            <h1>Login</h1>
            <div class="mb-3">
                <label for="email" class="form-label">Correo electronico:</label>
                <input formControlName="email" type="text" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input formControlName="password" type="password" class="form-control" id="password">
            </div>
            <button type="button" class="btn btn-danger" (click)="login()">Iniciar Sesión</button>
        </form>
    </div>
</div>