<div >
    <div class="row">
        <div class="col-lg-6">
            <h2 style="text-align: center; margin-top: 50px;">Lista de veterinarios</h2>
        </div>
        <div class="col-lg-6 d-flex justify-content-between">
            <i class="bi bi-plus-circle-fill" style="margin-top: 60px;font-size: 25px; color: black;" title="Agregar veterinarios" (click)="dialogVeterinarians()"></i>
        </div>
    </div>
    <div class="table-responsive" *ngIf="listVeterinary.length > 0">
        <table class="table table-bordered mt-3" style="margin: 50px; width: 90%;">
            <thead>
                <tr>
                    <td scope="col">Identificación</td>
                    <td scope="col">Nombre</td>
                    <td scope="col">Apellido</td>
                    <td scope="col">Correo electrónico</td>
                    <td scope="col">Dirección</td>
                    <td scope="col">Especialidad</td>
                    <td scope="col"></td>
                    <td scope="col"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let veterinarians of listVeterinary | paginate: {itemsPerPage : 7, currentPage: pageActual}">
                    <td>{{veterinarians.veterinaryId}}</td>
                    <td>{{veterinarians.firstName}}</td>
                    <td>{{veterinarians.lastName}}</td>
                    <td>{{veterinarians.email}}</td>
                    <td>{{veterinarians.adress}}</td>
                    <td>{{veterinarians.specialty}}</td>
                    <td style="width: 3%;">
                        <i class="bi bi-pencil" style="font-size: 20px; color: black;" title="Editar veterinario" (click)="dialogEditVeterinarians(veterinarians.veterinaryId)"></i>
                    </td>
                    <td style="width: 3%;">
                        <i class="bi bi-trash-fill" style="font-size: 20px; color: black;" title="Eliminar veterinario" (click)="deleteVeterinarians(veterinarians.veterinaryId)" ></i>
                    </td>      
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
    <div class="row mt-5" *ngIf="listVeterinary.length == 0">
        <h6 style="text-align: center;">No hay veterinarios para mostrar</h6>
    </div>
</div>