<div class="close d-flex justify-content-end">
    <i class="bi bi-x-lg" (click)="closeDialog()"></i>
</div>

<div>
    <div class="form">
        <h2 style="text-align: center;">Crear clientes</h2>
        <form [formGroup]="createClient" (ngSubmit)="create()">
            <div class="mb-3">
                <label for="clientId" class="form-label">Identificación</label>
                <input formControlName="clientId" type="text" class="form-control" id="clientId" aria-describedby="emailHelp" >
            </div>
            <div class="mb-3">
                <label for="firstName" class="form-label">Nombre</label>
                <input formControlName="firstName" type="text" class="form-control" id="firstName">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Apellido</label>
                <input formControlName="lastName" type="text" class="form-control" id="lastName">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input formControlName="email" type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="adress" class="form-label">Dirección</label>
                <input formControlName="adress" type="text" class="form-control" id="adress">
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">Contraseña</label>
                <input formControlName="password" type="password" class="form-control" id="pass">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!this.createClient.valid">Crear</button>
        </form>
    </div>

</div>