<div>
    <div>
        <h2 style="text-align: center; ">Productos Disponibles</h2>
        <p style="text-align: center;">En <b>Punto Vet </b> somos expertos en satisfacer las necesidades de tu mascota, te invitamos a continuar navegando en nuestra pagina web y asi conocer mas sobre nuestros productos y servicios</p>
    </div>
    <div>
        <div class="row" style="justify-content: center;">
            <div class="card" style="width: 20rem; margin: 45px;" *ngFor="let product of products">
                <img src="{{product.img}}" class="card-img-top" >
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;"> <b>{{product.name}}</b> </h3>
                    <p class="card-text"> <b>Tipo de producto: </b>{{product.type}}</p>
                    <p class="card-text"><b>Descripción: </b> {{product.desc}}</p>
                </div>
            </div>
        </div>
    </div>
</div>