<nav class="navbar navbar-expand-lg bg-custom" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Punto Vet</a>
      <!-- <img src="/src/assets/vet.png"> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link active" aria-current="page" href="/home" >Inicio</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" href="/product" >Productos</a>
          </li>
          <li class="nav-item" *ngIf="(isLoggedIn) && (role== 'Admin')">
            <a class="nav-link" href="/client" >Clientes</a>
          </li>
          <li class="nav-item" *ngIf="(isLoggedIn) && (role== 'Admin' || role== 'Client')">
            <a class="nav-link" href="/pet">Mascotas</a>
          </li>
          <li class="nav-item" *ngIf="(isLoggedIn) &&( role== 'Admin')">
            <a class="nav-link" href="/veterinary">Veterinarios</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" href="/medical-order">Historiales medicos</a>
          </li>
          <li class="nav-item" *ngIf="(isLoggedIn) && (role== 'Client' || role== 'Admin')">
            <a class="nav-link" href="/appointment">Solicitar cita</a>
          </li>

        </ul>
      </div>
      <div>
        
        <a href="/login"><button class="btn btn-outline-dark" *ngIf="!isLoggedIn">Iniciar Sesión</button></a>
        <a href="/register"><button class="btn btn-outline-dark" *ngIf="!isLoggedIn" style="margin-left: 5px;">Registrarse</button></a>
        <!-- <a href="/home"><button class="btn btn-outline-dark" *ngIf="isLoggedIn" >Cerrar Sesión</button></a> -->
        <a href="/home"><button class="btn btn-outline-dark" *ngIf="isLoggedIn" (click)="destroySesion()">Cerrar Sesión</button></a>
      </div>
    </div>
  </nav>