<div class="close d-flex justify-content-end">
    <i class="bi bi-x-lg" (click)="closeDialog()"></i>
</div>

<div>
    <div class="form">
        <h2 style="text-align: center;">Editar historial medico</h2>
        <form [formGroup]="editMedicalOrder" (ngSubmit)="update()">
            <!-- <div class="mb-3">
                <label for="medicalOrderId" class="form-label"># de historial medico</label>
                <input formControlName="medicalOrderId" type="text" class="form-control" id="medicalOrderId" aria-describedby="emailHelp">
            </div> -->
            <!-- <div class="mb-3">
                <label for="veterinaryId" class="form-label">Identificacion del veterinario</label>
                <input formControlName="veterinaryId" type="text" class="form-control" id="veterinaryId">
            </div>
            <div class="mb-3">
                <label for="petId" class="form-label">Identificacion de la mascota</label>
                <input formControlName="petId" type="text" class="form-control" id="petId">
            </div> -->

            <div class="mb-3">
                <label for="veterinaryId" class="form-label">Identificación del veterinario</label>
                <select formControlName="veterinaryId" id="veterinaryId" class="form-select">
                    <option *ngFor="let veterinarians of listVeterinary" value="{{veterinarians.veterinaryId}}">{{veterinarians.veterinaryId}}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="petId" class="form-label">Identificación de la mascota</label>
                <select formControlName="petId" id="petId" class="form-select">
                    <option *ngFor="let pets of listPet" value="{{pets.petId}}">{{pets.petId}}</option>
                </select>
            </div>
            
            <div class="mb-3">
                <label for="medicines" class="form-label">Medicinas</label>
                <textarea formControlName="medicines" type="text" class="form-control" id="medicines"></textarea>
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label">Cantidad</label>
                <textarea formControlName="quantity" type="text" class="form-control" id="quantity"></textarea>
            </div>
            <div class="mb-3">
                <label for="durationTime" class="form-label">Duración</label>
                <textarea formControlName="durationTime" type="text" class="form-control" id="durationTime"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" >Actualizar</button>
        </form>
    </div>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            ¿Seguro que deseas eliminar el registro?
            <div class="mt-2 pt-2 border-top">
                <button type="button" class="btn btn-primary btn-sm">Confirmar</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Cancelar</button>
            </div>
        </div>
    </div>

</div>