<div >
    <div>
        <div>
            <h2 style="text-align: center; ">Bienvenido a Punto Vet </h2>
            <ngb-carousel>
                <ng-template *ngFor="let item of info" ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="{{item.img}}" alt="Random first slide" width="100%" />
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div>
            <h2 style="text-align: center; ">Consejos para su cuidado </h2>
            <div class="row" style="justify-content: center;">
                <div class="card" style="width: 23rem; margin: 45px;" *ngFor="let pet of pets">
                    <img src="{{pet.img}}" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;"><b>{{pet.name}}</b></h4>
                        <p class="card-text"> <b>Alimentación: </b>{{pet.cares}}</p>
                        <p class="card-text"><b>Cuidados: </b> {{pet.feeding}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>