<div >
    <div class="row">
        <div class="col-lg-6">
            <h2 style="text-align: center; margin-top: 50px;">Lista de mascotas</h2>
        </div>
        <div class="col-lg-6 d-flex justify-content-between">
            <i class="bi bi-plus-circle-fill" style="margin-top: 60px;font-size: 25px; color: black;" title="Agregar mascotas" (click)="dialogPets()"></i>
        </div>
    </div>
    <div class="table-responsive" *ngIf="listPet.length > 0">
        <table class="table table-bordered mt-3" style="margin: 50px; width: 90%;">
            <thead>
                <tr>
                    <td scope="col">Codigo</td>
                    <td scope="col">Nombre</td>
                    <td scope="col">Edad</td>
                    <td scope="col">Raza</td>
                    <td scope="col">Color</td>
                    <td scope="col">Identificación dueño</td>
                    <td scope="col"></td>
                    <td scope="col"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pets of listPet | paginate: {itemsPerPage : 7, currentPage: pageActual}">
                    <td>{{pets.petId}}</td>
                    <td>{{pets.name}}</td>
                    <td>{{pets.age}}</td>
                    <td>{{pets.breed}}</td>
                    <td>{{pets.color}}</td>
                    <td>{{pets.clientId}}</td>
                    <td style="width: 3%;">
                        <i class="bi bi-pencil" style="font-size: 20px; color: black;" title="Editar mascota" (click)="dialogEditPets(pets.petId)"></i>
                    </td>
                    <td style="width: 3%;">
                        <i class="bi bi-trash-fill" style="font-size: 20px; color: black;" title="Eliminar mascota" (click)="deletePets(pets.petId)" ></i>
                    </td>      
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
    <div class="row mt-5" *ngIf="listPet.length == 0">
        <h6 style="text-align: center;">No hay mascotas para mostrar</h6>
    </div>
</div>