<div class="close d-flex justify-content-end">
    <i class="bi bi-x-lg" (click)="closeDialog()"></i>
</div>

<div>
    <div class="form">
        <h2 style="text-align: center;">Crear mascotas</h2>
        <form [formGroup]="createPet" (ngSubmit)="create()">
            <!-- <div class="mb-3">
                <label for="petId" class="form-label">Identificación</label>
                <input formControlName="petId" type="text" class="form-control" id="petId" aria-describedby="emailHelp">
            </div> -->
            <div class="mb-3">
                <label for="image" class="form-label">Carga una foto de tu mascota</label>
                <input formControlName="image" type="file" class="form-control" id="image">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input formControlName="name" type="text" class="form-control" id="name">
            </div>

            <div class="mb-3">
                <label for="age" class="form-label">Edad</label>
                <input formControlName="age" type="number" class="form-control" id="age">
            </div>
            <div class="mb-3">
                <label for="breed" class="form-label">Raza</label>
                <input formControlName="breed" type="text" class="form-control" id="breed">
            </div>
            <div class="mb-3">
                <label for="color" class="form-label">Color</label>
                <input formControlName="color" type="text" class="form-control" id="color">
            </div>

            <div class="mb-3">
                <label for="clientId" class="form-label">Identificación dueño</label>
                <select formControlName="clientId" id="clientId" class="form-select">
                    <option *ngFor="let clients of listClient" value="{{clients.clientId}}">{{clients.clientId}}
                    </option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Crear</button>
        </form>
    </div>

</div>