<div >
    <div class="row">
        <div class="col-lg-6">
            <h2 style="text-align: center; margin-top: 50px;">Lista de historiales medico</h2>
        </div>
        <div class="col-lg-6 d-flex justify-content-between">
            <i class="bi bi-plus-circle-fill" style="margin-top: 60px;font-size: 25px; color: black;" title="Agregar historial medico" (click)="dialogMedicalOrder()"></i>
        </div>
    </div>
    <div class="table-responsive" *ngIf="listMedicalOrder.length > 0">
        <table class="table table-bordered mt-3" style="margin: 50px; width: 90%;">
            <thead>
                <tr>
                    <td scope="col">Codigo de historial</td>
                    <td scope="col">Identificacion de la mascota</td>
                    <td scope="col">Identificacion del veterinario</td>
                    <td scope="col">Medicinas</td>
                    <td scope="col">Cantidad</td>
                    <td scope="col">Duración</td>
                    <td scope="col"></td>
                    <td scope="col"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicalOrders of listMedicalOrder | paginate: {itemsPerPage : 7, currentPage: pageActual}">
                    <td>{{medicalOrders.medicalOrderId}}</td>
                    <td>{{medicalOrders.veterinaryId}}</td>
                    <td>{{medicalOrders.petId}}</td>
                    <td>{{medicalOrders.medicines}}</td>
                    <td>{{medicalOrders.quantity}}</td>
                    <td>{{medicalOrders.durationTime}}</td>
                    <td style="width: 3%;">
                        <i class="bi bi-pencil" style="font-size: 20px; color: black;" title="Editar historial medico" (click)="dialogEditMedicalOrder(medicalOrders.medicalOrderId)"></i>
                    </td>
                    <td style="width: 3%;">
                        <i class="bi bi-trash-fill" style="font-size: 20px; color: black;" title="Eliminar historial medico" (click)="deleteMedicalOrder(medicalOrders.medicalOrderId)" ></i>
                    </td>      
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
    <div class="row mt-5" *ngIf="listMedicalOrder.length == 0">
        <h6 style="text-align: center;">No hay historiales medicos para mostrar</h6>
    </div>
</div>